{% extends 'base.html.twig' %}

{% block title %}Modifier votre Mot de passe{% endblock %}

{% block content %}
<h1>Modifier votre Mot de passe</h1>

{%if notification %}
	<div class="alert alert-info">{{notification}}</div>
	{%endif%}

    <hr>
        {{form(form)}}
    </hr>
<a href="{{path('account')}}">retour à mon compte</a>


	- modifier adresses<br>
	- modifier panier<br>

{% endblock %}
