

.footer_perso {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dfeaff;
  padding-top: 25px;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #fa19093d;
  text-shadow: blanchedalmond;
  text-decoration: underline;
  margin-right: 1em;
  font-size: small;

}